/* *GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* style title */
.captitle h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.captitle span{
    color: #ff6e65;
}
.captitle h3::before{
    content: "";
    width: 60px;
    height: 2px;
    background-color: #707070;
    display: block;
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(75%);
}
.captitle h3::after{
    content: "";
    width: 60px;
    height: 2px;
    background-color: #707070;
    display: block;
    margin: 10px auto;
   
}


li {
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #a0a0a0;
    letter-spacing: 0.4px;
}



/* STYLE NUMBER */

.number__bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.number__nu {
    font-size: 35px;
    color: #060606;
    font-weight: 600;
    text-align: center;
}

.number__item {
    padding-right: 60px;
}

.number__item p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

/* STYLE FEEDBACK */
.feedback__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.feedback__item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    padding: 1rem;
    margin: 15px;
    width: 30%;

}

.feedback__item p:first-child:before {
    content: open-quote;
    font-size: 50px;
    color: #ff6e65;
    font-family: initial;
    line-height: 0.8;
    padding-top: 8px;
    display: inline-block;
}

.feedback__item p::after {
    content: close-quote;
}

.feedback__item p:first-child {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}

.feedback__member {
    display: grid;
    grid-template-columns: .3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 1.5em;
}

.feedback__member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.feedback_avatar {
    text-align: center;
}

.feebback__desc h5 {
    color: #060606;
    font-weight: 600;
    line-height: 16px;
}

.feebback__desc p {
    font-size: 13px;
    color: #707070;
    letter-spacing: 0.4px;
}

/* STYLE INSTRUCTOR */
.team-block-single {
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
.team-grids {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.team-info{
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgba(8, 8, 8, 0.29);
    padding: 20px 0;
    transition: .5s all;
    width: 100%;
    text-align: center;
}
.team-block-single:hover div.team-info {
    bottom: 0;
}
.member a{
    text-decoration: none;
    font-weight: 600;
    color: #060606;
    cursor: pointer;
    transition: 0.5s all;
}
.social-icons-section a.fac,.social-icons-section a.twitter, .social-icons-section a.google {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    line-height: 28px;
    transition: 0.5s all;
}
.social-icons-section a span {
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
}
.team-block-single:hover h5.member a {
    color: #ff6e65;
}
.social-icons-section a:hover{
    opacity: 0.8;
}



/* STYLE CONTACT */

.contact h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}


/* STYLE FOOTER */

.footer_text {
    grid-gap: 40px;
}

.footer_sub {
    padding: 80px 0;
    background: #060e1f;
}




.footer_form {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
    align-items: center;
}

.footer_form h4 {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.form_title p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.right_side {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.rightside_form {
    display: flex;
}

.rightside_form input {
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.footer_input button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.sub_columns {
    margin-top: 180px;
}

.sub_columns ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    text-decoration: none;
}

.sub-two-right h6,
.sub-one-left h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.fa {
    display: inline-block;
}

.column2 a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.href2 {
    margin-top: 10px;
    padding: 10px 0;
}

.column2 p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-top: 10px;
}

.ab-right-cont {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.columns-2 {
    margin-top: 1.2rem;
}

.social li {
    display: inline-block;
    margin-right: 5px;
}

.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.social li a span {
    font-size: 15px;
    line-height: 35px;
}



.footer_copyright {
    background: #040a17;
    padding: 20px 0;
}