
/* *GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

/* style title */
/* Light theme */
#myBody{
    background-color:black;
  }
  #switchButton {
    background-color: transparent;
    color:white;
    font-size: 25px;
    box-shadow: none;
    
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color:white;
  }
  .dark #switchButton {
    background-color: transparent;
  }
  .dark #switchButton .fa-sun {
    display: block;
    color: black;
    font-size: 25px;
    box-shadow: none;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
  
  
/* title */
.captitle h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.captitle span{
    color: #ff6e65;
}
.captitle h3::before{
    content: "";
    width: 60px;
    height: 2px;
    background-color: #707070;
    display: block;
    position: absolute;
    top: 65px;
    right: 50%;
    transform: translateX(75%);
}
.captitle h3::after{
    content: "";
    width: 60px;
    height: 2px;
    background-color: #707070;
    display: block;
    margin: 10px auto;
   
}

li {
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    color: #a0a0a0;
    letter-spacing: 0.4px;
}



/* STYLE NUMBER */

.number__bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.number__nu {
    font-size: 35px;
    color: #060606;
    font-weight: 600;
    text-align: center;
}

.number__item {
    padding-right: 60px;
}

.number__item p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

/* STYLE FEEDBACK */
.feedback__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.feedback__item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    padding: 1rem;
    margin: 15px;
    width: 30%;

}

.feedback__item p:first-child:before {
    content: open-quote;
    font-size: 50px;
    color: #ff6e65;
    font-family: initial;
    line-height: 0.8;
    padding-top: 8px;
    display: inline-block;
}

.feedback__item p::after {
    content: close-quote;
}

.feedback__item p:first-child {
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: 0.4px;
}

.feedback__member {
    display: grid;
    grid-template-columns: .3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 1.5em;
}

.feedback__member img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.feedback_avatar {
    text-align: center;
}

.feebback__desc h5 {
    color: #060606;
    font-weight: 600;
    line-height: 16px;
}

.feebback__desc p {
    font-size: 13px;
    color: #707070;
    letter-spacing: 0.4px;
}

/* STYLE INSTRUCTOR */
.team-block-single {
    box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
.team-grids {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.team-info{
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgba(8, 8, 8, 0.29);
    padding: 20px 0;
    transition: .5s all;
    width: 100%;
    text-align: center;
}
.team-block-single:hover div.team-info {
    bottom: 0;
}
.member a{
    text-decoration: none;
    font-weight: 600;
    color: #060606;
    cursor: pointer;
    transition: 0.5s all;
}
.social-icons-section a.fac,.social-icons-section a.twitter, .social-icons-section a.google {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    line-height: 28px;
    transition: 0.5s all;
}
.social-icons-section a span {
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
}
.team-block-single:hover h5.member a {
    color: #ff6e65;
}
.social-icons-section a:hover{
    opacity: 0.8;
}



/* STYLE CONTACT */

.contact h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}


/* STYLE FOOTER */

.footer_text {
    grid-gap: 40px;
}

.footer_sub {
    padding: 80px 0;
    background: #060e1f;
}




.footer_form {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
    align-items: center;
}

.footer_form h4 {
    font-size: 35px;
    line-height: 40px;
    color: #060606;
    font-weight: 600;
}

.form_title p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

.right_side {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

.rightside_form {
    display: flex;
}

.rightside_form input {
    background: transparent;
    padding: 15px 20px;
    font-size: 16px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid #eee;
}

.footer_input button {
    background: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

.sub_columns {
    margin-top: 180px;
}

.sub_columns ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
    text-decoration: none;
}

.sub-two-right h6,
.sub-one-left h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

.column2 span {
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.fa {
    display: inline-block;
}

.column2 a {
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}

.href2 {
    margin-top: 10px;
    padding: 10px 0;
}

.column2 p {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-top: 10px;
}

.ab-right-cont {
    border-left: 1px solid rgb(64 73 82 / 51%);
}

.columns-2 {
    margin-top: 1.2rem;
}

.social li {
    display: inline-block;
    margin-right: 5px;
}

.social li a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.social li a span {
    font-size: 15px;
    line-height: 35px;
}



.footer_copyright {
    background: #040a17;
    padding: 20px 0;
}
/* HEADER */
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d369f;
    font-size: 15px;
    font-weight: 500;
}
.header__left a{
    text-decoration: none;
    color: white;
    transition: all .5s;
}
.header__left a:hover{
    color: #ff6e65;
    cursor: pointer;
}
.header__right i{
    color: white;
    transition: all .5s;
}
.header__right i:hover{
    color: #ff6e65;
    cursor: pointer;
}


.capnav a{
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: all .5s;
}
.capnav span{
    color: #0d369f;
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
}
.capnav span:hover{
    color: #ff6e65;
    cursor: pointer;
}

.capnavleft .nav-item {
    transition: all .5s;
    text-transform: uppercase;
    margin: 0 5px;
}

.capnavleft .nav-item:hover .nav-link{
    color: #ff6e65;
    cursor: pointer;
}
.capnavleft .nav-item.active .nav-link{
    color: #ff6e65;
}

.capnavleft .nav-item .dropdown-menu a:hover{
    color: #ff6e65;
    cursor: pointer;
}
.form-control{
    border-radius: 30px;
    height: 45px;
}
.capnavleft .form-inline{
    position: relative;
}
.capnav__button{
    border: 0;
    background-color: transparent;
    color: #0d369f;
    position: absolute;
    left: 185px;
}

/* CAROUSEL */

.capstuCarousel{
    margin: 0;
    padding: 0;
}
.carousel-caption{
    display: block;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-weight: bold ;
    font-size: 65px;
    margin: 30px 0;
}
.carousel-caption button{
    font-size: 16px;
    background-color: white;
    font-weight: 600;
    transition: all .5s;
}
.carousel-caption button:hover{
    background-color:#ff6e65 ;
    color: white;
}
.carousel-caption i{
    margin: 0 5px;
}
#carouselcap .carousel-item{
    height: 100vh;

}
#carouselcap .carousel-indicators li{
    border: 0;
    border-radius: 100%;
    display: block;
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: 5px ;
    padding: 2px;
}
.carousel-indicators .active{
    background-color: #ff6e65;
}

.carousel-indicators {
    left: 82%;
    bottom: 30px;
    justify-content: right;
}
.capnavleft .btn{
    border: none;
}

/* MAJOR */
.capmajor{
    margin-top: -75px;
    margin-bottom: 5rem;
}
.capcol i{
    transform: skewX(-10deg);
}
.capmajor_inner{
    padding: 7px;
}
.capmajor_item{
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 45px 35px;
}
.capmajor_item i{
    font-size: 45px;
    margin-bottom: 25px;
}
.capmajor_item h3{
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}
.capmajor_item h3:hover{
    color: black;
}
.color1 {
    background-color: #037ef3;
}
.color2{
    background-color: #ffc949;
}
.color3{
    background-color: #ff4f81;
}
.color4{
    background-color: #1ee697;
}

/* Welcome */
.capwelcome__content{
    text-align: center;
}
.capwelcome__inner i{
    font-size: 30px;
    color: #0d369f;
    background-color: #e9edf6;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}
.capcol3{
    background-color: #e9edf6;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.capcol3 i{
    font-size: 30px;
    color: #0d369f;
    margin: auto;
    transform: skewX(-10deg);
}
.capwelcome__content .col-4 a{
    text-decoration: none;
}
.capwelcome__text p{
    color: #707070;
}
.capwelcome__text h3{
    margin: 20px 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: black;
    transition: all .2s;
}
.capwelcome__text h3:hover{
    color: #ff6e65;
}

/* Capstarted */
.capstarted{
    background-color:black;
}
.dark .capstarted{
    background-color: #f8f9ff;
}
.card{
    border-radius: 10px;
}
.card .card-img-top{
    border-radius: 10px 10px 0 0;
}
.capstarted__content .card .list-group-item{
    border: 0;
    font-weight:500;
}
.list-group-item i{
    color: #ff6e65;
    display: inline-block;
    font-size: 14px;
}

.capstarted__meta{
    position: absolute;
    top: 15px;
    left: 20px;
}
.capstarted__meta a{
    background: #1DC295;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    padding: 4px 10px;
    color: #FFFFFF ;
    display: inline-block;
    margin-right: 5px;
}
.capstarted__meta a:first-child{
    background-color: #FFA100;
}
.capstarted__meta a:nth-child(3){
    background-color:#037ef3;
}
.card-body .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #707070;
    letter-spacing: .4px;
}
.card-body .card-title{
    font-weight: 600;
    font-size: 22px;
}
.card-body .card-title a{
    color: black;
    text-decoration: none;
    transition: all .5s;
}
.card-body .card-title a:hover{
    color:#ff6e65 ;
}
.bottom-border {
    border-bottom: 1px solid #eee;
}
.caprating{
    list-style: none;
}
.caprating li{
    display: inline;
    color: #ffc949;
}
.capstarted__footer{
    display: flex;
    justify-content: space-between;
}
.capstarted__detail{
   
    font-size: 14px;
    font-weight: 600;
    color: #ff6e65;
    transition: all .5s;
}

.capstarted__detail i{
    display: inline-block;
    vertical-align: middle;
  
}
.capstarted__detail:hover{
    color:#0d369f;
    text-decoration: none;
}


.capstarted__item{
    position: relative;
}

.capstarted__price h6{
    height: 70px;
    width: 70px;
    margin: auto;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    background:  #ff6e65;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: -55px;
}

.capstarted__button{
    text-align: center;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color:#ff6e65 ;
    color: white;
    transition: all .5s;
    display: block;
    margin: auto;
    
}

/* FLEX */
.capflex{
    background-image: url(../img/bg3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.capflex_item i{
    text-align: center;
    font-size: 28px;
    color: #0d369f;
    background-color: #e9edf6;
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.capflex__text{

    display: inline-block;
    width: 80%;
    vertical-align: middle;
}
.capflex__text h5{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 6px;
}

.capflex__text p{
    color: #707070;
    margin: 0;
}
.capflex_inner{
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}
.capflex_item{
    display: flex;
    align-items: center;
    justify-content: center;
}